@CHARSET "UTF-8";
#youtube_js {
    margin: 0 auto;
    width: 480px;
    height: 350px;
    background: #000;
    font-family: 'Myriad Pro', 'Trebuchet MS', Verdana, Tahoma;
    font-size: 10px;
    position: relative;
}
 
#youtube_replaceme {
    background: #2b2b2b;
}
 
#youtube_js .youtube_controls {
    bottom:0;
    position:absolute;
    width:100%;
    padding:10px;
}
 
#youtube_js .youtube_controls a,#youtube_js .youtube_controls span {
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #444444;
    border:medium none #454545;
    color:#AAAAAA;
    font-weight:bold;
    margin-right:6px;
    padding:4px 6px;
    text-align:center;
    text-decoration:none;
    outline: none;
}
     
#youtube_js .youtube_controls a:hover {
    color: #cacaca; 
}
 
#yt_volume {
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #444444;
    border:1px solid #454545;
    bottom:5px;
    height:20px;
    position:absolute;
    right:30px;
    width:200px;
}
 
#yt_volume.div {
    width:20px;
    background: #fff;
}
 
#yt_slider {
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #AAAAAA;
    cursor:pointer;
    height:20px;
    top:0;
    width:25px;
    left:100px;
}
 
#yt_slider:hover {
    background: #cacaca;
}